.profile__edit-button {
    width: 10px;
    height: 10px;
    padding: 7px;
    border: solid 1px #FFFFFF;
    margin-left: 18px;
}

@media screen and (max-width: 1279px) {
    .profile__edit-button {
        
        
    }
} 

@media screen and (max-width: 1023px) {
    .profile__edit-button {
        
       
    }
} 

@media screen and (max-width: 767px) {
    .profile__edit-button {  
        width: 7.5px;
        height: 7.5px;
        padding: 5.25px;
        margin-left: 10px;
    }
}