
 .profile__edit-button {
     width: 24px;
     height: 24px;
    padding: 0px;
    margin: 0px;
    border: solid 1px #FFFFFF;
    background-color: rgba(28,28,28,0);
    margin-left: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.profile__edit-button:hover {
    opacity: 0.6;

}

@media screen and (max-width: 767px) {
    .profile__edit-button { 
        width: 18px;
        height: 18px;
        padding: 0px;
        margin: 0px;
       margin-left: 10px;
       align-items: center;
    }
}
