.popup__content {
    width: 430px;
    height: 330px;
    background-color: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

@media screen and (max-width: 1279px) {
    .popup__content {
        
        
    }
} 

@media screen and (max-width: 1023px) {
    .popup__content {
        
       
    }
} 

@media screen and (max-width: 767px) {
    .popup__content {
        width: 282px;
        
    }
} 