.popup__button {
    width: 358px;
    height: 50px;
    background: #000000;
    border-radius: 2px;
    text-decoration: none;

    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.popup__button:hover {
    background: #000000;
    opacity: 0.8;
    transition-property:opacity;
    transition-duration: .2s;
}

@media screen and (max-width: 1279px) {
    .popup__button {
        
        
    }
} 

@media screen and (max-width: 1023px) {
    .popup__button {
        
       
    }
} 

@media screen and (max-width: 767px) {
    .popup__button {
        width: 238px;
        height: 46px;
        
    }
} 