.profile__title {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 1.14;
    color: #FFFFFF;
    margin: 0px;

    max-width: 294x;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 767px) {
    .profile__title {  
    font-size: 27px;
    line-height: 1.22;
    text-align: center;
    max-width: 200px;
    }
}

