.elements__table {
    max-width: 880px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 17px;
    grid-row-gap: 20px;
    margin: 0px auto 0px;
    padding-top: 50px;
}

@media screen and (max-width: 1279px) {
    .elements__table {
        
        
    }
} 

@media screen and (max-width: 879px) {
    .elements__table {
        grid-template-columns: repeat(2, 1fr);
       
    }
} 

@media screen and (max-width: 767px) {
    .elements__table {
        grid-template-columns: 1fr;
        justify-items: center;
        padding-top: 36px; 
    }
} 