.footer {
    max-width: 880px;
    margin: 0px auto 0px;
    padding: 66px 0px 60px;
}

@media screen and (max-width: 767px) {
    .footer {
        max-width: 282px;
        padding: 48px 0px 36px;
    }
} 