.popup__close {
    background-image: url(../../../images/popup__close.svg);
    width: 32px;
    height: 32px;
    position: absolute;
    top: -35px;
    right: -35px;
    cursor: pointer;
    background-color: rgba(28,28,28,0);
    border: none;
    margin: 0px;
    padding: 0px;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
}

.popup__close:hover {
    opacity: .8;
    transition-duration: .2s;
}

@media screen and (max-width: 767px) {
    .popup__close {
        min-width: 20px;
        min-height: 20px;
        top: -51px;
        right: 0px;
    }
} 
