.profile__avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

@media screen and (max-width: 1279px) {
    .profile__avatar {
        
        
    }
} 

@media screen and (max-width: 1023px) {
    .profile__avatar {
        
       
    }
} 

@media screen and (max-width: 767px) {
    .profile__avatar {
        
    }
} 