.profile__description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    color: #FFFFFF;
    margin: 0px;
}

@media screen and (max-width: 1279px) {
    .profile__description {
        
        
    }
} 

@media screen and (max-width: 1023px) {
    .profile__description {
        
       
    }
} 

@media screen and (max-width: 767px) {
    .profile__description {  
        font-size: 14px;
        line-height: 1.21;
        text-align: center;
    }
}