.profile__add-button {
    width: 150px;
    height: 50px;
    padding: 0px;
    margin: 0px;
    border: solid 2px #fff;
    background-color: rgba(28,28,28,0);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.profile__add-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 767px) {
    .profile__add-button {
        width: 282px;
        height: 50px;
        margin-top: 36px;
    }
} 