.popup__button_disabled {
    background: #fff;
    border: 1px solid rgba(204, 204, 204, 1);
    color: rgba(204, 204, 204, 1);
    text-decoration: none;
    cursor: pointer;
    pointer-events: none;
}

.popup__button_disabled:hover {
    background: #fff;
    opacity: 1;
    transition-property: opacity;
    transition-duration: .2s;
}
